<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>BuildMachineOSBuild</key>
        <string>20F71</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>TSCAdjustReset</string>
        <key>CFBundleGetInfoString</key>
        <string>© 2009 Cosmo1t</string>
        <key>CFBundleIdentifier</key>
        <string>hu.interferenc.TSCAdjustReset</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>TSCAdjustReset</string>
        <key>CFBundlePackageType</key>
        <string>KEXT</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleSupportedPlatforms</key>
        <array>
            <string>MacOSX</string>
        </array>
        <key>CFBundleVersion</key>
        <string>1.1</string>
        <key>DTCompiler</key>
        <string>com.apple.compilers.llvm.clang.1_0</string>
        <key>DTPlatformBuild</key>
        <string>12E262</string>
        <key>DTPlatformName</key>
        <string>macosx</string>
        <key>DTPlatformVersion</key>
        <string>11.3</string>
        <key>DTSDKBuild</key>
        <string>20E214</string>
        <key>DTSDKName</key>
        <string>macosx11.3</string>
        <key>DTXcode</key>
        <string>1250</string>
        <key>DTXcodeBuild</key>
        <string>12E262</string>
        <key>IOKitPersonalities</key>
        <dict>
            <key>TSCAdjustReset</key>
            <dict>
                <key>CFBundleIdentifier</key>
                <string>hu.interferenc.TSCAdjustReset</string>
                <key>IOClass</key>
                <string>hu_interferenc_TSCAdjustReset</string>
                <key>IOMatchCategory</key>
                <string>TSCAdjustReset</string>
                <key>IOPropertyMatch</key>
                <dict>
                    <key>IOCPUNumber</key>
                    <integer>0</integer>
                </dict>
                <key>IOProviderClass</key>
                <string>AppleACPICPU</string>
            </dict>
        </dict>
        <key>LSMinimumSystemVersion</key>
        <string>11.3</string>
        <key>OSBundleLibraries</key>
        <dict>
            <key>com.apple.kpi.iokit</key>
            <string>7.0</string>
            <key>com.apple.kpi.libkern</key>
            <string>8.0d0</string>
            <key>com.apple.kpi.unsupported</key>
            <string>8.0b1</string>
        </dict>
        <key>OSBundleRequired</key>
        <string>Root</string>
    </dict>
</plist>
