<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F1911</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RtWlanDisk</string>
	<key>CFBundleGetInfoString</key>
	<string>1830.20.b31.10312018, Copyright © Realtek  (R)</string>
	<key>CFBundleIdentifier</key>
	<string>com.realtek.driver.RtWlanDisk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RtWlanDisk</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1830.20.b31</string>
	<key>CFBundleSignature</key>
	<string>realtek</string>
	<key>CFBundleVersion</key>
	<string>1830.20.b31</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>FLASH_EXAMPLE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanDisk</string>
			<key>IOClass</key>
			<string>RtWlanDisk</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>DataTraveler 1.0</string>
			<key>Vendor Identification</key>
			<string>Kingston</string>
		</dict>
		<key>RTL8811CU_DISK</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanDisk</string>
			<key>IOClass</key>
			<string>RtWlanDisk</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>Driver Storage</string>
			<key>Vendor Identification</key>
			<string>Realtek</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSCSIArchitectureModelFamily</key>
		<string>2.6.8</string>
		<key>com.apple.iokit.IOSCSIBlockCommandsDevice</key>
		<string>2.6.8</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.6.3</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
