<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixADP1</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change APSS to APXX</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					QVBTUw==
					</data>
					<key>Replace</key>
					<data>
					QVBYWA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					T1NJRA==
					</data>
					<key>Replace</key>
					<data>
					WFNJRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change AZAL to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QVpBTA==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>[BATT]BIFA(0,N) to BIFZ(0,N)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QklGQQA=
					</data>
					<key>Replace</key>
					<data>
					QklGWgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>[BATT]_BIX(0,N) to ZBIX(0,N)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JJWAA=
					</data>
					<key>Replace</key>
					<data>
					WkJJWAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>[BATT]SMBR(3,S) to SMRZ(3,S)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CUgs=
					</data>
					<key>Replace</key>
					<data>
					U01SWgs=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>[BATT]SMBW(5,S) to SMWZ(5,S)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CVw0=
					</data>
					<key>Replace</key>
					<data>
					U01XWg0=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>[BATT]ECSB(7,N) to ECSZ(7,N)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUNTQgc=
					</data>
					<key>Replace</key>
					<data>
					RUNTWgc=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>[BATT]TACH(1,S) to TACZ(1,S)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VEFDSAk=
					</data>
					<key>Replace</key>
					<data>
					VEFDWgk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _STA methods in MATH and LDR2 device to XSTA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1NUQQCgDZNQ
					</data>
					<key>Replace</key>
					<data>
					WFNUQQCgDZNQ
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>[I2C]_STA in GPI0 to XSTA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1NUQQCgCZNTQlJH
					</data>
					<key>Replace</key>
					<data>
					WFNUQQCgCZNTQlJH
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>[I2C]_CRS in ETPD to XCRS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0NSUwgIU0JGSQ==
					</data>
					<key>Replace</key>
					<data>
					WENSUwgIU0JGSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS(1,N) to ZPTS(1,N)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,S) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BUUwk=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK(1,N) to ZWAK(1,N)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>[DGPU]_INI to XINI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FB9fSU5JAA==
					</data>
					<key>Replace</key>
					<data>
					FB9YSU5JAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TFBDXw==
					</data>
					<key>Replace</key>
					<data>
					TFBDQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ALS: change Method(RALS,0,S) XALS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UkFMUwA=
					</data>
					<key>Replace</key>
					<data>
					WEFMUwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q0A,0,NS) to XQ0A</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1EwQQA=
					</data>
					<key>Replace</key>
					<data>
					WFEwQQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q0B,0,NS) to XQ0B</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1EwQgA=
					</data>
					<key>Replace</key>
					<data>
					WFEwQgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q0E,0,NS) to XQ0E</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1EwRQA=
					</data>
					<key>Replace</key>
					<data>
					WFEwRQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q0F,0,NS) to XQ0F</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1EwRgA=
					</data>
					<key>Replace</key>
					<data>
					WFEwRgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q11,0,NS) to XQ11</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExMQg=
					</data>
					<key>Replace</key>
					<data>
					WFExMQg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q0C,0,NS) to XQ0B</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1EwQwA=
					</data>
					<key>Replace</key>
					<data>
					WFEwQwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q0D,0,NS) to XQ0B</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1EwRAA=
					</data>
					<key>Replace</key>
					<data>
					WFEwRAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q10,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExMAA=
					</data>
					<key>Replace</key>
					<data>
					WFExMAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q12,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExMgA=
					</data>
					<key>Replace</key>
					<data>
					WFExMgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q13,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExMwA=
					</data>
					<key>Replace</key>
					<data>
					WFExMwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q14,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExNAA=
					</data>
					<key>Replace</key>
					<data>
					WFExNAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q15,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExNQA=
					</data>
					<key>Replace</key>
					<data>
					WFExNQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q6F,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2RgA=
					</data>
					<key>Replace</key>
					<data>
					WFE2RgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q6E,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2RQA=
					</data>
					<key>Replace</key>
					<data>
					WFE2RQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q6D,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2RAA=
					</data>
					<key>Replace</key>
					<data>
					WFE2RAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q71,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E3MQA=
					</data>
					<key>Replace</key>
					<data>
					WFE3MQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q77,0,NS) to XQ11</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E3NwA=
					</data>
					<key>Replace</key>
					<data>
					WFE3NwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q80,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E4MAA=
					</data>
					<key>Replace</key>
					<data>
					WFE4MAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QB0,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FCMAA=
					</data>
					<key>Replace</key>
					<data>
					WFFCMAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QA0,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FBMAA=
					</data>
					<key>Replace</key>
					<data>
					WFFBMAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QA1,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FBMQA=
					</data>
					<key>Replace</key>
					<data>
					WFFBMQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QA5,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FBNQA=
					</data>
					<key>Replace</key>
					<data>
					WFFBNQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QA3,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FBMwA=
					</data>
					<key>Replace</key>
					<data>
					WFFBMwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QAC,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FBQwA=
					</data>
					<key>Replace</key>
					<data>
					WFFBQwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q20,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1EyMAA=
					</data>
					<key>Replace</key>
					<data>
					WFEyMAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QB3,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FCMwA=
					</data>
					<key>Replace</key>
					<data>
					WFFCMwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QD7,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FENwA=
					</data>
					<key>Replace</key>
					<data>
					WFFENwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QD8,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FEOAA=
					</data>
					<key>Replace</key>
					<data>
					WFFEOAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QDB,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FEQgA=
					</data>
					<key>Replace</key>
					<data>
					WFFEQgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QDC,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FEQwA=
					</data>
					<key>Replace</key>
					<data>
					WFFEQwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QA8,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FBOAA=
					</data>
					<key>Replace</key>
					<data>
					WFFBOAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QEF,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FFRgA=
					</data>
					<key>Replace</key>
					<data>
					WFFFRgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QAF,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FBRgA=
					</data>
					<key>Replace</key>
					<data>
					WFFBRgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QD5,0,NS) to XQ11</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1FENQA=
					</data>
					<key>Replace</key>
					<data>
					WFFENQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>restore _DSM from ETPD</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1MwVwoDFEMEWERTTQSgNJNo
					</data>
					<key>Replace</key>
					<data>
					X1MwVwoDFEMEX0RTTQSgNJNo
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_STA to XSTA from ETPD</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FBtfU1RBAKARkZI=
					</data>
					<key>Replace</key>
					<data>
					FBtYU1RBAKARkZI=
					</data>
				</dict>
			</array>
			<key>Rtc8Allowed</key>
			<false/>
		</dict>
		<key>DisabledAML</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-PluginType1.aml</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>xh_rvp10</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<true/>
			<key>PluginType</key>
			<string>1</string>
			<key>UnderVoltStep</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 lilucpu=9 alcid=13 uia_exclude=HS08 kext-dev-mode=1 shikigva=60</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<false/>
		<key>HWPValue</key>
		<string>0x40002201</string>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Comment</key>
	<string>This file is for 10.12.6+ with native KabyLake support</string>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<integer>13</integer>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x59168086</string>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
			<key>IntelGFX</key>
			<string>0x59128086</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Xeon E3-1200 v6/7th Gen Core Processor Host Bridge/DRAM Registers</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>Sunrise Point-LP USB 3.0 xHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,2</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Thermal subsystem</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,0</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO I2C Controller #0</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,1</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO I2C Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,0</string>
				<key>device_type</key>
				<string>Communication controller</string>
				<key>model</key>
				<string>Sunrise Point-LP CSME HECI #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,23,0</string>
				<key>device_type</key>
				<string>SATA controller</string>
				<key>model</key>
				<string>Sunrise Point-LP SATA Controller [AHCI mode]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP PCI Express Root Port #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x5)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,5</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP PCI Express Root Port #6</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x5)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,5/0,0</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>Wireless 8265 / 8275</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1e,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,30,0</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO UART Controller #0</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1e,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,30,2</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO SPI Controller #0</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,0</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>Sunrise Point LPC Controller/eSPI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,2</string>
				<key>device_type</key>
				<string>Memory controller</string>
				<key>model</key>
				<string>Sunrise Point-LP PMC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device-id</key>
				<data>
				cKEAAA==
				</data>
				<key>device_type</key>
				<string>Audio device</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<data>
				DQAAAA==
				</data>
				<key>model</key>
				<string>Sunrise Point-LP HD Audio</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,4</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>Sunrise Point-LP SMBus</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AAAWGQ==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device-id</key>
				<data>
				FhkAAA==
				</data>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>disable-external-gpu</key>
				<data>
				AQAAAA==
				</data>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>Intel UHD Graphics 620</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x4,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,4,0</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Xeon E3-1200 v5/E3-1500 v5/6th Gen Core Processor Thermal Subsystem</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>Catalina</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>#ig-platform-id</key>
		<string>0x591b0000</string>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>PatchVBios</key>
		<true/>
		<key>ig-platform-id</key>
		<string>0x59120003</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRC
				</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>
				igKEwOtC
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>FVF813403GUKN2RJA</string>
		<key>ROM</key>
		<data>
		iFQEb0vZ
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>10/24/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>AAPJ140K.88Z.F000.B00.1810242138</string>
		<key>Board-ID</key>
		<string>Mac-827FAC58A8FDFA22</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>FVF813403GUKN2RJA</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>Air-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>220.250.320.0.0</string>
		<key>Family</key>
		<string>MacBook Air</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>MacBookAir8,1</string>
		<key>SerialNumber</key>
		<string>FVFWHNYVJK78</string>
		<key>SmUUID</key>
		<string>D703F939-4253-4D2F-ABE3-F3E3D76F4BD9</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
