<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright (C) 2013 AnV Software</string>
	<key>CFBundleIdentifier</key>
	<string>com.AnV.Software.driver.AppleMonitor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Display Injector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>9.9.9</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Monitor Apple ID Injection</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>DisplayProductID</key>
			<integer>8685</integer>
			<key>DisplayVendorID</key>
			<integer>1711</integer>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>AppleBacklightDisplay</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>DisplayProductID</key>
				<integer>40178</integer>
				<key>DisplayProductName</key>
				<string>SwitchResX4 - ASUS S530UN</string>
				<key>DisplayVendorID</key>
				<integer>1552</integer>
				<key>IODisplayConnectFlags</key>
				<data>
				AAgAAA==
				</data>
				<key>IODisplayEDID</key>
				<data>
				AP///////wAGEPKcAAAAABoVAQSVGg54Au8Fl1dUkici
				UFQAAAABAQEBAQEBAQEBAQEBAQEBFDeAtHA4JEBsMKoA
				WMEQAAAYAAAA/ABDb2xvciBMQ0QKICAgAAAA/gBBVU8K
				ICAgICAgICAgAAAA/gBCMTU2SEFOMDIuMSAKAB0=
				</data>
				<key>IODisplayGUID</key>
				<integer>436849163854938112</integer>
				<key>IODisplayPrefsKey</key>
				<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/IGPU@2/AppleIntelFramebuffer@0/display0/AppleBacklightDisplay-610-9cf2</string>
				<key>target-default-ppmm</key>
				<real>10.069930100000001</real>
			</dict>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
